
<!-- <div class="map-container">
  <div #divMap class="map"></div>
</div> -->

@if (svgContent()) {
  <div class="map-container">
    <div class="map" [innerHTML]="svgContent()" (click)="onMapClick($event)"></div>
    <div class="map-swipe map-swipe-v map-swipe-up" (click)="onSwipeUp($event)" (swipeup)="onSwipeUp($event)">
      <mat-icon fontSet="material-icons-outlined" class="arrow-icon" style="bottom: 12px; left: 50%; transform: translateX(-50%);">arrow_circle_down</mat-icon>
    </div>
    <div class="map-swipe map-swipe-v map-swipe-down" (click)="onSwipeDown($event)" (swipedown)="onSwipeDown($event)">
      <mat-icon fontSet="material-icons-outlined" class="arrow-icon" style="top: 12px; left: 50%; transform: translateX(-50%);">arrow_circle_up</mat-icon>
    </div>
    <div class="map-swipe map-swipe-h map-swipe-right" (click)="onSwipeRight($event)" (swiperight)="onSwipeRight($event)">
      <mat-icon fontSet="material-icons-outlined" class="arrow-icon" style="top: 50%; left: 12px; transform: translateY(-50%);">arrow_circle_left</mat-icon>
    </div>
    <div class="map-swipe map-swipe-h map-swipe-left" (click)="onSwipeLeft($event)" (swipeleft)="onSwipeLeft($event)">
      <mat-icon fontSet="material-icons-outlined" class="arrow-icon" style="top: 50%; right: 12px; transform: translateY(-50%);">arrow_circle_right</mat-icon>
    </div>
  </div>
}

@if (isOverlayVisible) {
  <app-overlay (close)="isOverlayVisible=false" class="section-overlay">
    @if (section) {
      <div class="section-container">
        @let src = '/assets/external/maps/infographic/sections/' + section + '.webp';
        <img class="section-img" [src]="src" [alt]="sectionDescription || 'Area'"/>
        <div class="section-markers">
          <div class="section-marker" style="top: 50%; left: 50%;">
            <img src="/assets/external/icons/medium.png" alt="Medium plant" class="section-marker-icon"/>
          </div>
          <div class="section-marker section-marker-active" style="top: 25%; left: 60%;">
            <img src="/assets/external/icons/large.png" alt="Large plant" class="section-marker-icon"/>
          </div>
        </div>
      </div>
    }
  </app-overlay>
}
