
<div class="map-container">
  <div #divMap class="map"></div>
</div>

@if (clockSkyTime) {
  <div class="clock" title="Current Sky time. Dye plants rotate hourly.">
    {{ clockSkyTime | datetime: 'HH:mm' }}
  </div>
}

<div class="fabs-bl">
  <button class="btn-ws-status" [class.btn-ws-status-inactive]="wsStatus === 'closed'" mat-fab [attr.title]="wsStatusText" (click)="wsConnect()">
    <mat-icon>
      @switch (wsStatus) {
        @case ('closed') { cloud_off }
        @case ('connecting') { cloud_queue }
        @case ('open') { cloud_done }
        @default { cloud_off }
      }
    </mat-icon>
  </button>
  <button mat-fab aria-label="Show areas" (click)="openMapDialog()">
    <mat-icon>map</mat-icon>
  </button>
  <button mat-fab aria-label="Add dye plant" (click)="openMarkerDialog()" [class.btn-highlight]="isAddingMarker">
    <mat-icon>add</mat-icon>
  </button>
</div>

<template id="template-marker-popup">
  <div class="marker-popup">
    <p>
      Now's the time to zoom in and verify the details!
      You can also drag the marker around before saving.
    </p>
    <div style="margin-bottom: 8px;">
      <b>Plant size</b><br/>
      <img title="Bulbs" class="img-size" data-size="1" src="/assets/external/icons/small.png" alt="Small plant" />
      <img title="Medium plant" class="img-size img-size-active" data-size="2" src="/assets/external/icons/medium.png" alt="Medium plant" />
      <img title="Massive plant" class="img-size" data-size="3" src="/assets/external/icons/large.png" alt="Large plant" />
    </div>
    <div>
      <button class="marker-popup-save" mat-flat-button>Add</button>
      <button class="marker-popup-delete" mat-flat-button>Cancel</button>
    </div>
  </div>
</template>
