
<div class="map-container">
  <div #divMap class="map"></div>
</div>

@if (clockSkyTime) {
  <div class="clock" title="Current Sky time. Dye plants rotate hourly.">
    {{ clockSkyTime | datetime: 'HH:mm' }}
  </div>
}

<div class="fabs-abs fabs-bl">
  @if (devMode) {
    <button mat-mini-fab aria-label="Dev mode" (click)="analysis.promptFile()">
      <mat-icon>code</mat-icon>
    </button>
  }
  @if (analysis.markers().length) {
    <div style="position: relative;">
      <button mat-mini-fab aria-label="Analysis" (click)="isAnalysisPanelVisible=!isAnalysisPanelVisible" title="Start analysis">
        <mat-icon>visibility_on</mat-icon>
      </button>
      @if (isAnalysisPanelVisible) {
        <div class="analysis-panel">
          <button type="button" (click)="analysis.reset()">Reset</button>
          <button type="button" [class.b]="analysis.filters.hourOfDay()" (click)="analysis.promptHourOfDay()">Hour of day</button>
          <button type="button" [class.b]="analysis.filters.dayOfWeek()" (click)="analysis.promptDayOfWeek()">Day of week</button>
          <button type="button" [class.b]="analysis.filters.dayOfMonth()" (click)="analysis.promptDayOfMonth()">Day of month</button>
          <button type="button" [class.b]="analysis.filters.weekOfYear()" (click)="analysis.promptWeekOfYear()">Week of year</button>
          <button type="button" [class.b]="analysis.filters.size()" (click)="analysis.promptSize()">Size</button>
          <button type="button" [class.b]="analysis.filters.username()" (click)="analysis.promptUsername()">Username</button>
          <button type="button" (click)="analysis.doSomeAnalysis()">Silver's button</button>
        </div>
      }
    </div>
  }
  <button class="btn-ws-status" [class.btn-ws-status-inactive]="wsStatus === 'closed'" mat-fab [attr.title]="wsStatusText" (click)="wsConnect()">
    <mat-icon>
      @switch (wsStatus) {
        @case ('closed') { cloud_off }
        @case ('connecting') { cloud_queue }
        @case ('open') { cloud_done }
        @default { cloud_off }
      }
    </mat-icon>
  </button>
  <button mat-fab aria-label="Show areas" (click)="openMapDialog()">
    <mat-icon>map</mat-icon>
  </button>
  <button mat-fab aria-label="Add dye plant" (click)="openMarkerDialog()" [class.btn-highlight]="isAddingMarker">
    <mat-icon>add</mat-icon>
  </button>
</div>

<!-- Navigation -->
<div class="fabs-abs fabs-l">
  <button mat-mini-fab aria-label="Previous realm" (click)="mapPreviousRealm()" title="Go to previous Realm">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>
<div class="fabs-abs fabs-r">
  <button mat-mini-fab aria-label="Next realm" (click)="mapNextRealm()" title="Go to next Realm">
    <mat-icon>arrow_forward</mat-icon>
  </button>
</div>

<template id="template-marker-popup">
  <div class="marker-popup">
    <button class="marker-popup-delete" mat-flat-button>Delete</button>
  </div>
</template>


<template id="template-create-popup">
  <div class="marker-popup">
    <p>
      Now's the time to zoom in and verify the details!
      You can also drag the marker around before saving.
    </p>
    <div style="margin-bottom: 8px;">
      <b>Plant size</b><br/>
      <img title="Bulbs" class="img-size" data-size="1" src="/assets/external/icons/small.png" alt="Small plant" />
      <img title="Medium plant" class="img-size img-size-active" data-size="2" src="/assets/external/icons/medium.png" alt="Medium plant" />
      <img title="Massive plant" class="img-size" data-size="3" src="/assets/external/icons/large.png" alt="Large plant" />
    </div>
    <div>
      <button class="marker-popup-save" mat-flat-button>Add</button>
      <button class="marker-popup-delete" mat-flat-button>Cancel</button>
    </div>
  </div>
</template>
