:host {
  position: relative;
}

.map-container {
  height: 100%;
  width: 100%;
}

.map {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
  background: #0f1520;
}

.fabs-bl {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.btn-highlight {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}

.btn-ws-status {
  color: #6e7278 !important;
  background-color: #282d37 !important;
  box-shadow: unset !important;
}

.btn-ws-status-inactive {
  color: #ff7e7e !important;
  background-color: #852121 !important;
  box-shadow: unset !important;
}

.clock {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  padding: 8px;
  border-radius: 16px;
  background-color: #282d37;
}

:host ::ng-deep {
  .marker-popup {
    .img-size {
      cursor: pointer;
    }

    .img-size-active {
      filter: drop-shadow(0 0 4px var(--mat-sys-primary));
    }

    .img-size:not(.img-size-active) {
      filter: grayscale(100%);
    }

  }
}
