<h1>Sky Dye Tracker</h1>
<p>
  Welcome to the Sky Dye Tracker! This website functions as a real-time interactive map to find and share dye plants in the game <a href="https://www.thatskygame.com/" target="_blank">Sky: Children of the Light</a>.
  <br/>
  This website is <b>experimental</b>! Expect things to break.
</p>
<p>
  To use the Sky Dye Tracker, please first authenticate through Discord. We won't ask for more than your username!<br/>
</p>
<button mat-flat-button color="primary" type="button" (click)="authenticate()">Authenticate</button>

<div style="margin-top: 40px;">
  <p>
    <strong>Disclaimer:</strong> This website is not affiliated with thatgamecompany.<br/>
    Please read our <a [routerLink]="'/privacy'" class="text-link">Privacy Policy</a> for more details.
  </p>
  <p>
    Source code is available on GitHub: <a href="https://github.com/Silverfeelin/SkyGame-Dyes" target="_blank">Silverfeelin/SkyGame-Dyes</a>.
  </p>
  <p>
    The website uses maps by &#64;sky_solsuga.
  </p>
</div>

@if (loading) {
  <div class="loader">
    <h1>Authorizing...</h1>
  </div>
}

